name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Java 25
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 25

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Compile
      run: ./gradlew clean assemble

    - name: Test
      run: ./gradlew -PtestMode=slow test

    - name: Checkstyle
      if: success() || failure()
      run: ./gradlew checkstyleMain

    - name: Jacoco Coverage Verification
      if: success() || failure()
      run: ./gradlew jacocoTestCoverageVerification
